* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: brown;
}

.debug {
  border: 2px solid rgb(22, 22, 22);
  padding: 10px;
}

.wrapper-esterno {
  width: 80%;
  height: 90vh;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
}
.colonna {
  float: left;
  box-sizing: border-box;
}

.colonna-40 {
  float: left;
}

.colonna-40 {
  width: 40%;
  padding: 10px;
}

.colonna-60 {
  width: 60%;
  padding: 10px;
}

.contenitore {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px;
  width: 95%;
  height: 100px;
  border: 1px solid black;
}

.main-chat {
  height: 200px;
  flex-grow: 1;
}

.rubrica {
  width: 95%;
  flex-grow: 1;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.utente {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
